.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  padding: 20px;
}
.social-media {
  display: flex;
  width: 200px;
  justify-content: space-between;
}
.contacts {
  display: flex;
  color: white;
  font-size: 20px;
}

.phone {
  display: flex;
  margin-right: 10px;
}
.mail {
  display: flex;
}

.phone-logo,
.mail-logo {
  margin-right: 5px;
}
